<mat-nav-list>
  <div *ngIf="!isAuth;else otherItems">
    <mat-list-item role="listitem">
      <a (click)="closeSideNav.emit()" routerLink="/signup">
        <mat-icon>person_add</mat-icon>
        <span class="nav-caption">Signup</span>
      </a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a (click)="closeSideNav.emit()" routerLink="/login">
        <mat-icon>login</mat-icon>
        <span class="nav-caption">Login</span>
      </a>
    </mat-list-item>
  </div>
  <ng-template #otherItems>
    <mat-list-item role="listitem">
      <a (click)="closeSideNav.emit()" routerLink="/running">
        <mat-icon>directions_run</mat-icon>
        <span class="nav-caption">Run</span>
      </a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span class="nav-caption">Logout</span>
      </a>
    </mat-list-item>
  </ng-template>
</mat-nav-list>
